.todos--container {
  width: 100%;
  min-height: 85vh;
  background-color: rgb(245, 255, 252);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todos--list {
  padding: 0;
}
.todos--welcome h1 {
  font-weight: 400;
  margin: 2rem 0;
}
.todos--welcome h1 > strong {
  color: #af68e5ea;
}
